# ------------------------
# Data files
# ------------------------
data/
*.csv
*.parquet
*.zip

# ------------------------
# Credentials / Secrets
# ------------------------
*.json
*.env
*.key
keys/*.json

# ------------------------
# dbt / BigQuery / Cache
# ------------------------
target/
dbt_packages/
logs/

# ------------------------
# IDE / OS Files
# ------------------------
.vscode/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# ------------------------
# Python Virtual Environments
# ------------------------
venv/
.venv/

# ------------------------
# Local-only Files
# ------------------------
AGENTS.md
